@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

#root {
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.dashboard-form-container {
  max-width: 50%;
  margin: 0 auto;
}

.widgets-container {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.widget {
  width: 250px;
  height: 180px;
  border-radius: 7px;
  box-shadow: 5px 4px 8px 8px grey;
  margin: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.widget-heading {
  font-size: 30px;
  font-weight: 700;
}

.add-post-container {
  /* max-width: 50%; */
  margin: 0 auto;
}

label {
  display: flex;
  margin: 10px 0;
  text-align: left;
}

input[type="text"],
input[type="number"],
select,
textarea {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.btn {
  cursor: pointer;
  background-color: #4d9eb3;
  box-shadow: var(--box-shadow);
  border-radius: 0.15rem;
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px auto 30px;
  padding: 10px;
  width: fit-content;
}

.btn-cancel {
  background-color: brown;
}

.subject-page-add-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* FA icon margin on addButton */
svg:not(:root).svg-inline--fa {
  /* margin-right: 10px; */
}

a {
  text-decoration: none;
  color: #000;
}

/* Post */
.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.post-date {
  font-style: italic;
  font-size: 0.8rem;
}

.post-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 20px;
}

.post-source {
  font-size: 0.8rem;
}

.post-body {
  white-space: pre-line;
  text-align: left;
  max-height: 200px;
  overflow: scroll;
  background-color: #fff;
  padding-left: 3px;
  padding-right: 3px;
}

.post-container {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

.posts-container {
  /* margin: 0 auto 30px; */
}

.icons-container {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.icons-container .trash-icon,
.pencil-icon {
  font-size: 15px;
  margin-left: 1px;
}

.icons-container button {
  padding: 4px;
  display: block;
  font-size: 12px;
  margin: 10px auto 30px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
  border: 1px solid rgb(192, 191, 191);
  box-shadow: var(--box-shadow);
  border-radius: 0.15rem;
}

.back-arrow {
  position: fixed;
  left: 20px;
  top: 20px;
  font-size: 20px;
}

.subject-page {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.subject-left {
  text-align: left;
  padding: 30px;
  flex-grow: 1;
  background-color: #99b3b9;
}

.subject-middle {
  flex-grow: 2;
  max-width: 50%;
  padding-top: 20px;
}

.subject-right {
  text-align: center;
  padding: 30px;
  flex-grow: 1;
  background-color: rgb(195, 212, 226);
}

.notes-container-box {
  border-top: 4px solid rgb(135, 135, 160);
  padding: 0 30px;
  margin-top: 50px;
  position: relative;
}
